In [45]:
import pandas as pd
import matplotlib as plt
import re
import numpy as np

In [ ]:
df = pd.read_csv("./mercadoimobiliario.csv", sep= ';')
# extração e correção variavel valor
df['Valor'] = df['Valor'].str.replace(',', ".")
df['Valor'].str.strip()
df['Valor'] = pd.to_numeric(df['Valor'])

df['Data'] = pd.to_datetime(df['Data'], dayfirst=True, format='%d/%m/%Y')
print(df.columns)

df.columns = df.columns.str.strip()

df['tipo_transacao'] = df['Info'].apply(lambda x: x.split('_')[0])
df['estado'] = df['Info'].apply(lambda x: x.split('_')[-1])
df['Info'] = df['Info'].apply(lambda x: '_'.join(x.split('_')[:-1]))

df_organizado_data = df.sort_values(by='Data')
df_organizado_data.columns = ['data', 'info', 'valor', 'tipo_transacao','estado', 'tipo_credito']
df_organizado_data = df_organizado_data.reset_index(drop=True)

df['tipo_transacao'].unique()

In [3]:
# Trabalhando em cada operação do Dataframe, começando por imóveis
filtro_imoveis = df_organizado_data[df_organizado_data['info'].str.startswith('imoveis')]

In [22]:
filtro_imoveis['info'].nunique()

392

In [23]:
filtro_imoveis.nunique()

data       76
info      392
valor    8264
dtype: int64

In [24]:
#criando uma função para encontrar as unidades federativas e alocar em um DataFrame
def filtro_unidade_federativa(dataframe,unidade_federativa):
    return dataframe[dataframe['info'].str.endswith(unidade_federativa)]

In [25]:
estados_br = [
    "ac", "al", "ap", "am", "ba", "ce", "df", "es",
    "go", "ma", "mt", "ms", "mg", "pa", "pb", "pr",
    "pe", "pi", "rj", "rn", "rs", "ro", "rr", "sc",
    "sp", "se", "to"
]

In [26]:

dicionario_estados = {}

In [27]:
for estados in estados_br:
    dicionario_estados[estados] = filtro_unidade_federativa(filtro_imoveis, estados)

In [28]:
dicionario_estados

{'ac':              data                                      info      valor
 113893 2018-01-31                 imoveis_area_privativa_ac     121.52
 114110 2018-01-31                      imoveis_tipo_casa_ac       4.00
 114236 2018-01-31               imoveis_tipo_apartamento_ac      10.00
 114511 2018-01-31                     imoveis_area_total_ac     125.76
 114846 2018-01-31                imoveis_valor_avaliacao_ac  216000.00
 ...           ...                                       ...        ...
 348722 2024-04-30              imoveis_dormitorio_4_mais_ac       3.00
 348775 2024-04-30  imoveis_garantia_alienacao_fiduciaria_ac      31.00
 349090 2024-04-30                imoveis_valor_avaliacao_ac  305000.00
 349209 2024-04-30                   imoveis_dormitorio_1_ac       2.00
 349260 2024-04-30            imoveis_implantacao_isolado_ac      21.00

 [1026 rows x 3 columns],
 'al':              data                               info      valor
 113921 2018-01-31          imoveis_area_privativa_al      58.48
 114617 2018-01-31              imoveis_area_total_al      78.74
 114739 2018-01-31         imoveis_valor_avaliacao_al   99900.00
 115267 2018-01-31            imoveis_dormitorio_2_al     438.00
 115386 2018-01-31  imoveis_implantacao_condominio_al     139.00
 ...           ...                                ...        ...
 348629 2024-04-30          imoveis_area_privativa_al      72.62
 348700 2024-04-30            imoveis_dormitorio_3_al     103.00
 348811 2024-04-30         imoveis_valor_avaliacao_al  198000.00
 349186 2024-04-30            imoveis_dormitorio_2_al     352.00
 349199 2024-04-30     imoveis_implantacao_isolado_al     370.00

 [1064 rows x 3 columns],
 'ap':              data                                      info      valor
 114140 2018-01-31                 imoveis_area_privativa_ap     101.06
 114426 2018-01-31                     imoveis_area_total_ap     107.00
 114921 2018-01-31                imoveis_valor_avaliacao_ap  262000.00
 115233 2018-01-31  imoveis_garantia_alienacao_fiduciaria_ap      29.00
 115279 2018-01-31                   imoveis_dormitorio_2_ap      14.00
 ...           ...                                       ...        ...
 348388 2024-04-30                   imoveis_dormitorio_3_ap       3.00
 348512 2024-04-30                   imoveis_dormitorio_2_ap       8.00
 348679 2024-04-30                 imoveis_area_privativa_ap      88.00
 349171 2024-04-30            imoveis_implantacao_isolado_ap       9.00
 349273 2024-04-30                imoveis_valor_avaliacao_ap  361000.00

 [990 rows x 3 columns],
 'am':              data                               info      valor
 113814 2018-01-31          imoveis_area_privativa_am      67.21
 114290 2018-01-31              imoveis_area_total_am     122.00
 114773 2018-01-31         imoveis_valor_avaliacao_am  262000.00
 115265 2018-01-31  imoveis_implantacao_condominio_am     146.00
 115274 2018-01-31            imoveis_dormitorio_2_am     195.00
 ...           ...                                ...        ...
 348462 2024-04-30       imoveis_dormitorio_4_mais_am       8.00
 348509 2024-04-30            imoveis_dormitorio_3_am      50.00
 348595 2024-04-30          imoveis_area_privativa_am      75.37
 349187 2024-04-30     imoveis_implantacao_isolado_am      52.00
 349391 2024-04-30         imoveis_valor_avaliacao_am  309500.00

 [1064 rows x 3 columns],
 'ba':              data                                      info      valor
 113884 2018-01-31                      imoveis_tipo_casa_ba    1408.00
 114216 2018-01-31                 imoveis_area_privativa_ba      57.56
 114955 2018-01-31                imoveis_valor_avaliacao_ba  138300.00
 115016 2018-01-31                     imoveis_area_total_ba      65.51
 115230 2018-01-31         imoveis_implantacao_condominio_ba     745.00
 ...           ...                                       ...        ...
 348437 2024-04-30                   imoveis_dormitorio_2_ba    1102.00
 348440 2024-04-30                 imoveis_area_privativa_ba      65.69
 348496 2024-04-30              imoveis_dormitorio_4_mais_ba      42.00
 349178 2024-04-30            imoveis_implantacao_isolado_ba     883.00
 349330 2024-04-30  imoveis_garantia_alienacao_fiduciaria_ba    1465.00

 [1064 rows x 3 columns],
 'ce':              data                                      info      valor
 114004 2018-01-31                 imoveis_area_privativa_ce      79.24
 114867 2018-01-31                imoveis_valor_avaliacao_ce  155313.04
 115135 2018-01-31                     imoveis_area_total_ce      87.84
 115144 2018-01-31                      imoveis_tipo_casa_ce     707.00
 115214 2018-01-31  imoveis_garantia_alienacao_fiduciaria_ce    1023.00
 ...           ...                                       ...        ...
 348383 2024-04-30                 imoveis_area_privativa_ce      75.44
 348541 2024-04-30              imoveis_dormitorio_4_mais_ce      46.00
 348667 2024-04-30                   imoveis_valor_compra_ce  190000.00
 349240 2024-04-30            imoveis_implantacao_isolado_ce     923.00
 349430 2024-04-30  imoveis_garantia_alienacao_fiduciaria_ce    1381.00

 [1064 rows x 3 columns],
 'df':              data                                      info      valor
 114105 2018-01-31                 imoveis_area_privativa_df      66.92
 114609 2018-01-31                      imoveis_tipo_casa_df     501.00
 114779 2018-01-31                     imoveis_area_total_df     109.50
 114900 2018-01-31                imoveis_valor_avaliacao_df  298750.00
 115300 2018-01-31  imoveis_garantia_alienacao_fiduciaria_df     480.00
 ...           ...                                       ...        ...
 348456 2024-04-30                 imoveis_area_privativa_df      58.88
 348590 2024-04-30                   imoveis_valor_compra_df  308050.00
 349003 2024-04-30  imoveis_garantia_alienacao_fiduciaria_df     725.00
 349093 2024-04-30                   imoveis_dormitorio_3_df     180.00
 349245 2024-04-30            imoveis_implantacao_isolado_df     214.00

 [1064 rows x 3 columns],
 'es':              data                                      info      valor
 113831 2018-01-31                imoveis_valor_avaliacao_es  205000.00
 114093 2018-01-31                 imoveis_area_privativa_es      66.92
 114657 2018-01-31                      imoveis_tipo_casa_es     397.00
 114892 2018-01-31                     imoveis_area_total_es      90.36
 115273 2018-01-31  imoveis_garantia_alienacao_fiduciaria_es     479.00
 ...           ...                                       ...        ...
 348624 2024-04-30                      imoveis_tipo_casa_es     343.00
 348694 2024-04-30                   imoveis_valor_compra_es  340000.00
 349039 2024-04-30                   imoveis_dormitorio_2_es     241.00
 349218 2024-04-30            imoveis_implantacao_isolado_es     188.00
 349481 2024-04-30  imoveis_garantia_alienacao_fiduciaria_es     421.00

 [1064 rows x 3 columns],
 'go':              data                               info      valor
 113876 2018-01-31         imoveis_valor_avaliacao_go  144300.00
 114134 2018-01-31          imoveis_area_privativa_go      69.68
 114182 2018-01-31              imoveis_area_total_go      80.08
 114474 2018-01-31               imoveis_tipo_casa_go    2049.00
 115326 2018-01-31  imoveis_implantacao_condominio_go    1142.00
 ...           ...                                ...        ...
 348399 2024-04-30       imoveis_dormitorio_4_mais_go      81.00
 348423 2024-04-30            imoveis_valor_compra_go  215000.00
 348460 2024-04-30          imoveis_area_privativa_go      72.63
 348571 2024-04-30               imoveis_tipo_casa_go    1881.00
 349230 2024-04-30     imoveis_implantacao_isolado_go    2156.00

 [1064 rows x 3 columns],
 'ma':              data                            info      valor
 113898 2018-01-31       imoveis_area_privativa_ma      57.23
 113944 2018-01-31      imoveis_valor_avaliacao_ma  129950.00
 114065 2018-01-31           imoveis_area_total_ma      60.36
 115152 2018-01-31            imoveis_tipo_casa_ma     543.00
 115341 2018-01-31         imoveis_dormitorio_1_ma      27.00
 ...           ...                             ...        ...
 348547 2024-04-30       imoveis_area_privativa_ma      66.00
 348644 2024-04-30      imoveis_valor_avaliacao_ma  186500.00
 348676 2024-04-30    imoveis_dormitorio_4_mais_ma      14.00
 348740 2024-04-30            imoveis_tipo_casa_ma     214.00
 349448 2024-04-30  imoveis_implantacao_isolado_ma     311.00

 [1064 rows x 3 columns],
 'mt':              data                            info      valor
 113736 2018-01-31            imoveis_tipo_casa_mt     483.00
 114161 2018-01-31       imoveis_area_privativa_mt      59.77
 114175 2018-01-31     imoveis_tipo_apartamento_mt     401.00
 114257 2018-01-31      imoveis_valor_avaliacao_mt  145850.00
 115427 2018-01-31         imoveis_dormitorio_1_mt      53.00
 ...           ...                             ...        ...
 348360 2024-04-30            imoveis_tipo_casa_mt     243.00
 348425 2024-04-30       imoveis_area_privativa_mt      62.32
 348463 2024-04-30         imoveis_valor_compra_mt  230000.00
 348662 2024-04-30    imoveis_dormitorio_4_mais_mt      21.00
 349385 2024-04-30  imoveis_implantacao_isolado_mt     680.00

 [1064 rows x 3 columns],
 'ms':              data                            info      valor
 113747 2018-01-31            imoveis_tipo_casa_ms     493.00
 113877 2018-01-31       imoveis_area_privativa_ms      57.60
 113956 2018-01-31           imoveis_area_total_ms      60.92
 114150 2018-01-31      imoveis_valor_avaliacao_ms  138000.00
 115421 2018-01-31         imoveis_dormitorio_1_ms      50.00
 ...           ...                             ...        ...
 348412 2024-04-30            imoveis_tipo_casa_ms     333.00
 348489 2024-04-30         imoveis_valor_compra_ms  220000.00
 348585 2024-04-30    imoveis_dormitorio_4_mais_ms      13.00
 348710 2024-04-30      imoveis_valor_avaliacao_ms  230000.00
 349465 2024-04-30  imoveis_implantacao_isolado_ms     604.00

 [1064 rows x 3 columns],
 'mg':              data                            info      valor
 113787 2018-01-31      imoveis_valor_avaliacao_mg  150500.00
 113809 2018-01-31       imoveis_area_privativa_mg      60.00
 114131 2018-01-31           imoveis_area_total_mg      69.75
 114777 2018-01-31            imoveis_tipo_casa_mg    3968.00
 115346 2018-01-31         imoveis_dormitorio_1_mg     689.00
 ...           ...                             ...        ...
 348524 2024-04-30       imoveis_area_privativa_mg      66.62
 348681 2024-04-30            imoveis_tipo_casa_mg    2850.00
 348737 2024-04-30      imoveis_valor_avaliacao_mg  250000.00
 348753 2024-04-30    imoveis_dormitorio_4_mais_mg     214.00
 349452 2024-04-30  imoveis_implantacao_isolado_mg    2360.00

 [1064 rows x 3 columns],
 'pa':              data                            info      valor
 113934 2018-01-31            imoveis_tipo_casa_pa     299.00
 114006 2018-01-31      imoveis_valor_avaliacao_pa  150967.58
 114205 2018-01-31     imoveis_tipo_apartamento_pa     144.00
 114238 2018-01-31       imoveis_area_privativa_pa      65.27
 115438 2018-01-31         imoveis_dormitorio_1_pa      42.00
 ...           ...                             ...        ...
 348370 2024-04-30            imoveis_tipo_casa_pa     203.00
 348401 2024-04-30       imoveis_area_privativa_pa      65.37
 348529 2024-04-30      imoveis_valor_avaliacao_pa  190000.00
 348552 2024-04-30         imoveis_valor_compra_pa  185000.00
 349371 2024-04-30  imoveis_implantacao_isolado_pa     431.00

 [1064 rows x 3 columns],
 'pb':              data                            info      valor
 114037 2018-01-31      imoveis_valor_avaliacao_pb  138000.00
 114083 2018-01-31       imoveis_area_privativa_pb      59.59
 114763 2018-01-31     imoveis_tipo_apartamento_pb     297.00
 115443 2018-01-31         imoveis_dormitorio_1_pb      34.00
 115471 2018-01-31         imoveis_valor_compra_pb  133387.00
 ...           ...                             ...        ...
 348528 2024-04-30         imoveis_valor_compra_pb  170000.00
 348537 2024-04-30            imoveis_tipo_casa_pb    1268.00
 348707 2024-04-30       imoveis_area_privativa_pb      53.66
 349347 2024-04-30    imoveis_garantia_hipoteca_pb      21.00
 349410 2024-04-30  imoveis_implantacao_isolado_pb     462.00

 [1064 rows x 3 columns],
 'pr':              data                            info      valor
 113801 2018-01-31      imoveis_valor_avaliacao_pr  157550.00
 113914 2018-01-31    imoveis_garantia_hipoteca_pr     401.00
 113987 2018-01-31       imoveis_area_privativa_pr      57.25
 114592 2018-01-31     imoveis_tipo_apartamento_pr    1360.00
 115410 2018-01-31         imoveis_dormitorio_1_pr     391.00
 ...           ...                             ...        ...
 348612 2024-04-30       imoveis_area_privativa_pr      60.96
 348978 2024-04-30         imoveis_dormitorio_1_pr     162.00
 349053 2024-04-30    imoveis_garantia_hipoteca_pr     126.00
 349069 2024-04-30     imoveis_tipo_apartamento_pr    1373.00
 349377 2024-04-30  imoveis_implantacao_isolado_pr    2494.00

 [1064 rows x 3 columns],
 'pe':              data                            info      valor
 114059 2018-01-31      imoveis_valor_avaliacao_pe  143000.00
 114067 2018-01-31       imoveis_area_privativa_pe      54.25
 115064 2018-01-31     imoveis_tipo_apartamento_pe     287.00
 115416 2018-01-31         imoveis_dormitorio_1_pe      63.00
 115479 2018-01-31         imoveis_valor_compra_pe  141731.00
 ...           ...                             ...        ...
 348498 2024-04-30      imoveis_valor_avaliacao_pe  190000.00
 348709 2024-04-30       imoveis_area_privativa_pe      60.48
 349198 2024-04-30     imoveis_tipo_apartamento_pe     509.00
 349403 2024-04-30  imoveis_implantacao_isolado_pe     679.00
 349467 2024-04-30    imoveis_garantia_hipoteca_pe      25.00

 [1064 rows x 3 columns],
 'pi':              data                            info      valor
 113885 2018-01-31    imoveis_garantia_hipoteca_pi      17.00
 114102 2018-01-31       imoveis_area_privativa_pi      64.42
 114213 2018-01-31      imoveis_valor_avaliacao_pi  121000.00
 114337 2018-01-31     imoveis_tipo_apartamento_pi     316.00
 115395 2018-01-31         imoveis_dormitorio_1_pi       1.00
 ...           ...                             ...        ...
 348511 2024-04-30            imoveis_tipo_casa_pi      84.00
 348729 2024-04-30       imoveis_area_privativa_pi      60.00
 348936 2024-04-30     imoveis_tipo_apartamento_pi     248.00
 349084 2024-04-30    imoveis_garantia_hipoteca_pi       1.00
 349409 2024-04-30  imoveis_implantacao_isolado_pi     268.00

 [1064 rows x 3 columns],
 'rj':              data                               info      valor
 113941 2018-01-31       imoveis_garantia_hipoteca_rj     302.00
 113951 2018-01-31         imoveis_valor_avaliacao_rj  238000.00
 114212 2018-01-31          imoveis_area_privativa_rj      62.00
 114746 2018-01-31        imoveis_tipo_apartamento_rj     370.00
 115220 2018-01-31              imoveis_area_total_rj      74.58
 ...           ...                                ...        ...
 348779 2024-04-30  imoveis_implantacao_condominio_rj    1198.00
 349043 2024-04-30        imoveis_tipo_apartamento_rj     355.00
 349121 2024-04-30       imoveis_garantia_hipoteca_rj      58.00
 349401 2024-04-30            imoveis_dormitorio_3_rj     396.00
 349436 2024-04-30     imoveis_implantacao_isolado_rj     679.00

 [1064 rows x 3 columns],
 'rn':              data                               info      valor
 113864 2018-01-31         imoveis_valor_avaliacao_rn  120000.00
 114196 2018-01-31          imoveis_area_privativa_rn      65.87
 114201 2018-01-31       imoveis_garantia_hipoteca_rn      21.00
 115242 2018-01-31            imoveis_dormitorio_1_rn      65.00
 115328 2018-01-31              imoveis_area_total_rn      71.12
 ...           ...                                ...        ...
 348837 2024-04-30       imoveis_garantia_hipoteca_rn      11.00
 348983 2024-04-30            imoveis_dormitorio_3_rn     148.00
 349145 2024-04-30        imoveis_tipo_apartamento_rn     565.00
 349293 2024-04-30  imoveis_implantacao_condominio_rn     171.00
 349435 2024-04-30     imoveis_implantacao_isolado_rn     751.00

 [1064 rows x 3 columns],
 'rs':              data                               info      valor
 113961 2018-01-31       imoveis_garantia_hipoteca_rs     310.00
 114157 2018-01-31          imoveis_area_privativa_rs      58.76
 114221 2018-01-31         imoveis_valor_avaliacao_rs  170000.00
 115208 2018-01-31            imoveis_dormitorio_1_rs     779.00
 115464 2018-01-31        imoveis_tipo_apartamento_rs    1554.00
 ...           ...                                ...        ...
 348902 2024-04-30       imoveis_garantia_hipoteca_rs      36.00
 348903 2024-04-30        imoveis_tipo_apartamento_rs    1050.00
 348921 2024-04-30     imoveis_implantacao_isolado_rs    1549.00
 349167 2024-04-30       imoveis_dormitorio_4_mais_rs      60.00
 349278 2024-04-30  imoveis_implantacao_condominio_rs    1525.00

 [1064 rows x 3 columns],
 'ro':              data                               info     valor
 113979 2018-01-31         imoveis_valor_avaliacao_ro  130000.0
 113994 2018-01-31       imoveis_garantia_hipoteca_ro      16.0
 114232 2018-01-31          imoveis_area_privativa_ro      68.6
 115245 2018-01-31            imoveis_dormitorio_1_ro      10.0
 115440 2018-01-31        imoveis_tipo_apartamento_ro     199.0
 ...           ...                                ...       ...
 348871 2024-04-30        imoveis_tipo_apartamento_ro     258.0
 348939 2024-04-30       imoveis_garantia_hipoteca_ro       4.0
 348971 2024-04-30     imoveis_implantacao_isolado_ro     293.0
 349284 2024-04-30  imoveis_implantacao_condominio_ro      50.0
 349292 2024-04-30            imoveis_dormitorio_2_ro     223.0

 [1063 rows x 3 columns],
 'rr':              data                               info      valor
 114092 2018-01-31         imoveis_valor_avaliacao_rr  155000.00
 114129 2018-01-31          imoveis_area_privativa_rr      63.00
 115201 2018-01-31            imoveis_dormitorio_1_rr       5.00
 115489 2018-01-31            imoveis_dormitorio_2_rr      44.00
 115672 2018-01-31            imoveis_valor_compra_rr  159993.87
 ...           ...                                ...        ...
 348913 2024-04-30     imoveis_implantacao_isolado_rr      41.00
 348944 2024-04-30        imoveis_tipo_apartamento_rr      42.00
 348980 2024-04-30            imoveis_dormitorio_2_rr      32.00
 349257 2024-04-30            imoveis_dormitorio_3_rr       6.00
 349265 2024-04-30  imoveis_implantacao_condominio_rr       1.00

 [1023 rows x 3 columns],
 'sc':              data                               info      valor
 113791 2018-01-31          imoveis_area_privativa_sc      62.18
 113796 2018-01-31        imoveis_tipo_apartamento_sc     763.00
 113810 2018-01-31         imoveis_valor_avaliacao_sc  163304.78
 114031 2018-01-31       imoveis_garantia_hipoteca_sc     224.00
 115218 2018-01-31            imoveis_dormitorio_1_sc     206.00
 ...           ...                                ...        ...
 349335 2024-04-30  imoveis_implantacao_condominio_sc    1578.00
 349372 2024-04-30        imoveis_tipo_apartamento_sc     674.00
 349379 2024-04-30            imoveis_dormitorio_2_sc    1843.00
 349398 2024-04-30       imoveis_dormitorio_4_mais_sc      69.00
 349426 2024-04-30       imoveis_garantia_hipoteca_sc     105.00

 [1064 rows x 3 columns],
 'sp':              data                               info    valor
 113738 2018-01-31       imoveis_garantia_hipoteca_sp  2204.00
 113909 2018-01-31          imoveis_area_privativa_sp    58.93
 114346 2018-01-31        imoveis_tipo_apartamento_sp  4734.00
 115297 2018-01-31            imoveis_dormitorio_1_sp  3630.00

In [23]:
#dicionario_estados['sp'].loc[:,'info'] = dicionario_estados['sp']['info'].str.strip()
#filtro_dormitorios_3 = dicionario_estados['sp'][~dicionario_estados['sp']['info'].str.contains(r'\wmais\w|\wgarantia\w', regex = True, case=False)]
#filtro_dormitorios_3 = filtro_dormitorios_3[filtro_dormitorios_3['info'].str.contains(r'\wdormitorio\w', regex = True, case=False)]
#filtro_imoveis_sp['Info'].str.split('_', expand=True)

In [29]:
filtro_dormitorios = {}

In [30]:
for estado in estados_br:
    dicionario_estados[estado].loc[:,'info'] = dicionario_estados[estado]['info'].str.strip()
    filtro_dormitorios[estado] = dicionario_estados[estado][~dicionario_estados[estado]['info'].str.contains(r'\wmais\w|\wgarantia\w', regex = True, case=False)]
    filtro_dormitorios[estado]= filtro_dormitorios[estado][filtro_dormitorios[estado]['info'].str.contains(r'\wdormitorio\w', regex = True, case=False)]
    filtro_dormitorios[estado][['identificador','descritivo', 'quantidade', 'uf']] = filtro_dormitorios[estado]['info'].str.split('_', expand = True)

In [31]:
filtro_dormitorios['sp']

,data,info,valor,identificador,descritivo,quantidade,uf
115297,2018-01-31,imoveis_dormitorio_1_sp,3630.0,imoveis,dormitorio,1,sp
115472,2018-01-31,imoveis_dormitorio_2_sp,9977.0,imoveis,dormitorio,2,sp
116387,2018-01-31,imoveis_dormitorio_3_sp,2840.0,imoveis,dormitorio,3,sp
118097,2018-02-28,imoveis_dormitorio_1_sp,3534.0,imoveis,dormitorio,1,sp
118372,2018-02-28,imoveis_dormitorio_3_sp,2486.0,imoveis,dormitorio,3,sp
...,...,...,...,...,...,...,...
344903,2024-03-31,imoveis_dormitorio_1_sp,2577.0,imoveis,dormitorio,1,sp
346294,2024-03-31,imoveis_dormitorio_3_sp,3445.0,imoveis,dormitorio,3,sp
347647,2024-04-30,imoveis_dormitorio_1_sp,1894.0,imoveis,dormitorio,1,sp
348057,2024-04-30,imoveis_dormitorio_3_sp,3533.0,imoveis,dormitorio,3,sp
348240,2024-04-30,imoveis_dormitorio_2_sp,10996.0,imoveis,dormitorio,2,sp

In [51]:
#utilizando Regular Expressions para filtrar os valores problemáticos
#filtro_imoveis_4_mais = filtro_imoveis_sp[~filtro_imoveis_sp['Info'].str.contains(r'\wmais\w|\wgarantia\w', regex=True, case= False)]
#filtro_imoveis_4_mais = filtro_imoveis_4_mais[filtro_imoveis_4_mais['Info'].str.contains(r'\wdormitorio\w', regex=True, case=False)]

In [54]:
filtro_dormitorios_3

             data                     info    valor
115297 2018-01-31  imoveis_dormitorio_1_sp   3630.0
115472 2018-01-31  imoveis_dormitorio_2_sp   9977.0
116387 2018-01-31  imoveis_dormitorio_3_sp   2840.0
118097 2018-02-28  imoveis_dormitorio_1_sp   3534.0
118372 2018-02-28  imoveis_dormitorio_3_sp   2486.0
...           ...                      ...      ...
344903 2024-03-31  imoveis_dormitorio_1_sp   2577.0
346294 2024-03-31  imoveis_dormitorio_3_sp   3445.0
347647 2024-04-30  imoveis_dormitorio_1_sp   1894.0
348057 2024-04-30  imoveis_dormitorio_3_sp   3533.0
348240 2024-04-30  imoveis_dormitorio_2_sp  10996.0

[228 rows x 3 columns]

In [21]:
#analisando o filtro buscando seperar a unidade federativa em uma coluna para trabalhar melhor, notamos que existe um problema com imóveis com mais de 4 dormitorios
filtro_imoveis_sp['Info'].str.split('_', expand=True)

              0           1          2     3     4
38      imoveis       valor  avaliacao    sp  None
181     imoveis        area  privativa    sp  None
700     imoveis  dormitorio          3    sp  None
915     imoveis       valor     compra    sp  None
2028    imoveis  dormitorio          2    sp  None
...         ...         ...        ...   ...   ...
351917  imoveis  dormitorio          2    sp  None
351971  imoveis  dormitorio          3    sp  None
352025  imoveis  dormitorio          4  mais    sp
352077  imoveis  dormitorio          1    sp  None
352131  imoveis  dormitorio          2    sp  None

[1064 rows x 5 columns]

In [22]:
filtro_imoveis_sp

             Data                          Info      Valor
38     2019-10-31    imoveis_valor_avaliacao_sp  215500.00
181    2022-06-30     imoveis_area_privativa_sp      57.95
700    2021-09-30       imoveis_dormitorio_3_sp    6489.00
915    2019-10-31       imoveis_valor_compra_sp  209699.40
2028   2018-07-31       imoveis_dormitorio_2_sp   14570.00
...           ...                           ...        ...
351917 2020-01-31       imoveis_dormitorio_2_sp   10307.00
351971 2020-01-31       imoveis_dormitorio_3_sp    3870.00
352025 2020-01-31  imoveis_dormitorio_4_mais_sp     737.00
352077 2020-02-29       imoveis_dormitorio_1_sp    5652.00
352131 2020-02-29       imoveis_dormitorio_2_sp   11532.00

[1064 rows x 3 columns]

In [23]:
filtro_imoveis_sp.loc[:, 'Info'] = filtro_imoveis_sp['Info'].str.strip()

In [24]:
#utilizando Regular Expressions para filtrar os valores problemáticos
filtro_imoveis_4_mais = filtro_imoveis_sp[~filtro_imoveis_sp['Info'].str.contains(r'\wmais\w|\wgarantia\w', regex=True, case= False)]

In [25]:
filtro_imoveis_4_mais = filtro_imoveis_4_mais[filtro_imoveis_4_mais['Info'].str.contains(r'\wdormitorio\w', regex=True, case=False)]

In [26]:
filtro_imoveis_4_mais

             Data                     Info    Valor
700    2021-09-30  imoveis_dormitorio_3_sp   6489.0
2028   2018-07-31  imoveis_dormitorio_2_sp  14570.0
2723   2024-02-29  imoveis_dormitorio_2_sp   7370.0
2823   2020-02-29  imoveis_dormitorio_3_sp   3599.0
7374   2018-07-31  imoveis_dormitorio_3_sp   3404.0
...           ...                      ...      ...
351863 2020-01-31  imoveis_dormitorio_1_sp   6087.0
351917 2020-01-31  imoveis_dormitorio_2_sp  10307.0
351971 2020-01-31  imoveis_dormitorio_3_sp   3870.0
352077 2020-02-29  imoveis_dormitorio_1_sp   5652.0
352131 2020-02-29  imoveis_dormitorio_2_sp  11532.0

[228 rows x 3 columns]

In [27]:
filtro_dormitorios = filtro_imoveis_4_mais['Info'].str.split('_', expand=True)

In [28]:
filtro_dormitorios.columns =['categoria', 'operacao', 'quantidade', 'uf' ]

In [29]:
filtro_dormitorios['valor'] = filtro_imoveis_4_mais['Valor']

In [30]:
filtro_dormitorios['data'] = filtro_imoveis_4_mais['Data']

In [31]:
filtro_dormitorios

       categoria    operacao quantidade  uf    valor       data
700      imoveis  dormitorio          3  sp   6489.0 2021-09-30
2028     imoveis  dormitorio          2  sp  14570.0 2018-07-31
2723     imoveis  dormitorio          2  sp   7370.0 2024-02-29
2823     imoveis  dormitorio          3  sp   3599.0 2020-02-29
7374     imoveis  dormitorio          3  sp   3404.0 2018-07-31
...          ...         ...        ...  ..      ...        ...
351863   imoveis  dormitorio          1  sp   6087.0 2020-01-31
351917   imoveis  dormitorio          2  sp  10307.0 2020-01-31
351971   imoveis  dormitorio          3  sp   3870.0 2020-01-31
352077   imoveis  dormitorio          1  sp   5652.0 2020-02-29
352131   imoveis  dormitorio          2  sp  11532.0 2020-02-29

[228 rows x 6 columns]

In [32]:
for info in filtro_imoveis_sp['Info']:
    if "mais" in info:
        print(info)

imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp
imoveis_dormitorio_4_mais_sp

In [33]:
def filtro_unidade_federativa(dataframe,unidade_federativa):
    return dataframe[dataframe['Info'].str.endswith(unidade_federativa)]

In [34]:
filtro_imoveis_rj = filtro_rj(filtro_imoveis)

NameError: name 'filtro_rj' is not defined

             Data                          Info     Valor
642    2018-07-31       imoveis_dormitorio_2_rj    2829.0
1337   2024-02-29       imoveis_dormitorio_2_rj    1291.0
1437   2020-02-29       imoveis_dormitorio_3_rj     456.0
2533   2023-02-28  imoveis_garantia_hipoteca_rj     101.0
3998   2019-11-30    imoveis_valor_avaliacao_rj  225000.0
...           ...                           ...       ...
351903 2020-01-31       imoveis_dormitorio_2_rj    1999.0
351957 2020-01-31       imoveis_dormitorio_3_rj     453.0
352011 2020-01-31  imoveis_dormitorio_4_mais_rj     119.0
352063 2020-02-29       imoveis_dormitorio_1_rj     906.0
352117 2020-02-29       imoveis_dormitorio_2_rj    1932.0

[1064 rows x 3 columns]

In [ ]:
filtro_imoveis_rr= filtro_unidade_federativa(filtro_imoveis, "mg")

In [ ]:
filtro_imoveis_rr

             Data                          Info     Valor
949    2023-02-28  imoveis_garantia_hipoteca_mg     200.0
2414   2019-11-30    imoveis_valor_avaliacao_mg  155000.0
2557   2022-07-31     imoveis_area_privativa_mg      65.3
3076   2021-09-30  imoveis_dormitorio_4_mais_mg     493.0
3291   2019-11-30       imoveis_valor_compra_mg  150596.6
...           ...                           ...       ...
351941 2020-01-31       imoveis_dormitorio_3_mg    1195.0
351995 2020-01-31  imoveis_dormitorio_4_mais_mg     243.0
352047 2020-02-29       imoveis_dormitorio_1_mg     793.0
352101 2020-02-29       imoveis_dormitorio_2_mg    2849.0
352155 2020-02-29       imoveis_dormitorio_3_mg    1055.0

[1064 rows x 3 columns]

In [ ]:
filtro_imoveis_rr['Info'].str.split('_', expand=True)

              0           1          2     3     4
949     imoveis    garantia   hipoteca    mg  None
2414    imoveis       valor  avaliacao    mg  None
2557    imoveis        area  privativa    mg  None
3076    imoveis  dormitorio          4  mais    mg
3291    imoveis       valor     compra    mg  None
...         ...         ...        ...   ...   ...
351941  imoveis  dormitorio          3    mg  None
351995  imoveis  dormitorio          4  mais    mg
352047  imoveis  dormitorio          1    mg  None
352101  imoveis  dormitorio          2    mg  None
352155  imoveis  dormitorio          3    mg  None

[1064 rows x 5 columns]